.PoolList{
   
    width: 90vw;
    max-width: 90vw;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    /* word brake */

    z-index: 1;
}
.navigation{
    justify-content: space-between;
    align-items:normal;
    margin-bottom: 20px;
}

.PoolElementAtributionText{
    font-size: 10px;
    font-weight: lighter;
    text-align: right;
    align-self: flex-end;
}

.PoolElementAtributionImg{
    width: 100px;
    height: 60px;
}

.tableFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.PoolList button{
    
    background-color: transparent;
    border: black 1px solid;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

.PoolList button:hover{
    background-color: #4c4eaf;
    color: white;
}
.PoolList th, .PoolList td{
    
    color: black;
    text-emphasis: bold;
    border : 1px solid black;
}

.PoolList th{
    background-color: #4c4eaf;
    color: white;
    height: 100px;
}

.PoolList tr{
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border : 1px solid black;
    background-color: #7475ad;
}

.PoolList tr:nth-child(even){
    background-color: #7475ad49;
}

.stake-bar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    overflow: hidden;
  }
  
  .stake-bar-fill {
    height: 100%;
    background-color: #4caf50;
  }

.NameTitle{
    width: 20vw;
    cursor: pointer;
}  

.Title{
    width: 10%;
    cursor: pointer;
}

.SearchTitle{
    width: 10vw;
}


@media (max-width: 850px) { 

    .PoolList th, .PoolList td{
    
        color: black;
        border : 1px solid black;
        font-size: 8px;
        font-weight: lighter;
    }
    .Search{
        width: 100%;
        border-radius: 5px;
    }
    .NameTitle{
        width: 10vw;
    }
    .stake-bar {
        width: 100%;
        height: 10px;
    }
 
     .Title{
        width: 10vw;
        align-content: center;
     }

     .NameRow{
        word-break: break-all;
     }

     .PoolElementAtributionImg{
        width: 50px;
        height: 30px;
     }
     .PoolElementAtributionText{
        font-size: 8px;
     }
 
}

@media (max-width: 350px) { 

    .PoolList th, .PoolList td{
        font-weight: bold   ;
        font-size: 6px;
    }
}